<!DOCTYPE html>
<html lang ="en">
  <head>

    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Web Scraper</title>
  </head>
  <body>

    {{{ body }}}

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </body>
<html>