<h3>Articles</h3>
<div>
    {{#each article}}
      <div class="card">
        <div class = "card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <a href="{{this.link}}" class="card-link" target="_blank">Link to Article</a>
        </div>
      </div>
    {{/each}}
  </div>