<h3>Scraped Articles</h3>
<div>
    {{#each article}}
      <div class="card">
        <div class = "card-body">
            <a href="{{this.link}}" class="card-title" target="_blank"><h4>{{this.title}}</h4></a>
            <p>{{this.summary}}</p>
            <form method="POST" action="/saved/{{this._id}}?_method=PUT">
                <button type="submit" class="btn btn-default" id="SaveArticle">Save</button>
            </form>
        </div>
      </div>
    {{/each}}
  </div>